# Скопируйте файл и подставьте свои значения:
#   cp .env.example .env

# Строка подключения к MongoDB
MONGODB=mongodb://mongodb:27017

# gRPC
HOST=0.0.0.0
PORT=50053

# Каталог для хранения видеофайлов
PATH_VIDEO=./storage/video/
